html, body {
  height: 100%;
  background-color: white;
}

.AppBody{
  height: 100%;
  text-align: center;
  padding-bottom: 10%;
  padding-top: 2%;
  margin:0 auto;
  max-width: 70vw
}

.ApplicationName{
  color: black;
  font-family: "DejaVu Sans", sans-serif;
  font-size: 3rem;
  margin: 0 0 5rem;
  padding-top: 3%;
}


.InputDataForm{
  text-align: left;
  align-items: center;
}


.PredictionTitle{
  color: black;
  font-family: "DejaVu Sans", sans-serif;
  text-transform: uppercase;
}

.PredictionItem{
  color: black;
  font-family: "DejaVu Sans", sans-serif;
  font-size: 1.8em;
}

.RatingForm{
  align-items: center;
}

.RadioGroup{
  display: grid;
}

.PredictionGroup{
  margin-bottom: 10rem;
}

