
.InputField{
    color: black;
    font-family: "DejaVu Sans", sans-serif;
    background: none;
    border-radius: 10px;
    border: 1px solid;
    padding: 10px;
    display: block;
    border-color: #4D6D9A;
    width: 100%;
}

.InputLabel{
    color: black;
    font-family: "DejaVu Sans", sans-serif;
}

.InputGroup{
    text-align: center;
    margin-bottom: 30px;
}

.InputField:focus {
    outline: none;
    border: 2px solid #4D6D9A;
    margin: -1px;
}


/* No controls for number input Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* No controls for number input Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


.FileLabel {
    background-color: #4D6D9A;
    color: white;
    padding:  0.7rem;
    font-family: "DejaVu Sans", sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
}


#file-chosen{
    margin-left: 0.3rem;
    font-family: "DejaVu Sans", sans-serif;}