.AppBody{
  height: 100vh;
  background-color: #5F6366;
}

.ApplicationName{
  color: #ffffff;
  font-family: 'Helvetica',
  sans-serif; font-size: 54px;
  font-weight: 300;
  line-height: 58px;
  margin: 0 0 58px;
}

.InputDataView{

}

.InputDataForm{

}